/*body {
   margin: 0px;
	padding: 0px;
	color: green;
	width:900px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em;
	/*background-image: url(images/back.jpg);
	/*background-color: #59A4FF;
	background-position: top;
	/*background-repeat: repeat-x;
	
	text-align:center;
}*/

body {
	margin: 0px;
	padding: 0px;
	/*color: #FFFFFF;*/
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em;
	background-image: url(images/back1.jpg);
	background-color: #FFFFFF;
	background-position: top;
	background-repeat: inherit;
	
}




a, a:link, a:visited { color: #dc6606; font-weight: bold; text-decoration: none; }
a:hover { color: #ffffff; text-decoration: underline; }

p { margin: 0 0 3px 0; padding: 0; text-align:justify; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #fff; font-weight: normal; }
h1 { font-size: 28px; margin: 0 0 30px 0; padding: 5px 0 }
h2 { font-size: 25px; margin: 0 0 20px 0; padding: 5px 0; line-height: 30px; color:	#FF0000 ;}
h3 { font-size: 22px; margin: 0 0 5px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }s

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.button { display: block; width: 114px; height: 30px; text-align: center; padding-top: 6px; color: #CC9933; font-weight: bold; background: url(images/templatemo_button.png) }
a.button:hover { text-decoration: none; color: #FFFFFF; }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 1px solid #999; padding: 4px; background: none; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 15px 0 0 }
.image_fr { float: right; margin: 3px 0 0 15px }

.image_wrapper_02 { position: relative; width: px; height: 150px; margin-bottom: 10px }   
.image_wrapper_02 span {
	position: absolute;
	width: 230px;
	height: 144px;
	background: url(images/image_frame.png)
}


#wrapper { width: 956px; margin: 0 auto }

#header {
	width: 956px;
	height: 150px;
	margin: 0 auto;
}

#site_title a {
	float: left;
	display: block;
	width: 900px;
	height: 80px;
	margin: 20px 0 0 40px;
	font-size: 40px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	background: url(images/logo1.png) no-repeat;
}

#newsletter { float: right; width: 253px; height: 48px; padding: 10px 30px; margin: 0; background: url(images/templatemo_newsletter_box.png); }
#newsletter form { width: 280px; height: 27px; padding: 0; margin-top: 8px; } 
#search { float: left; height: 18px; width: 187px; padding: 5px 10px; color: #fff; background: url(images/newsletter_tf.png) no-repeat; border: none; }
#subscribe { float: left; margin-left: 5px; width: 41px; height: 28px; background: url(images/newsletter_submit.png); border: none; cursor: pointer; }

#menu {
	clear: both;
	float: right;
	margin-top: 5px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#menu ul li a  {
	float: left;
	display: block;
	width: 75px;
	height: 40px;
	font-size: 12px;
	padding: 5px 0 0 0;
	margin-left: 15px;
	color: green;	
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	outline: none;
	border: none;
}



#main {
	clear: both;
	padding: 2px 0 0 0;
}

.title { display: inline-block; padding: 5px 0px 5px 25px; margin-bottom: 10px; font-size: 15px; color: #fff; }
.t_one { background: url(images/list.png) center left no-repeat }
.t_two { background: url(images/list.png) center left no-repeat }
.t_three { background: url(images/list.png) center left no-repeat }
.t_latest_news { background: url(images/list.png) center left no-repeat }
.t_projects { background: url(images/list.png) center left no-repeat }

.content_box {
	margin:0px 0 0 0;
	margin-bottom: 0px;
	border-top: 2px  #1e1e1e;
	height:250px;
	background-color:#FFFFFF;
}
.cont{
	margin:0px 0 0 0;
	margin-bottom: 3px;
	border-top: 1px  #1e1e1e;
	height:2000px;
	background-color:#FFFFFF;
}
.content11
{
height:1002px;
width:700px;



}
.col_w280 {
	width: 225px;
	padding-right: 3px;
	margin-right: 4px;
	
}

.col_w580 { float: left; width: 706px;background-color:#FFFFFF; }
.col_w360 { float: right; width: 250px; margin-top:8px; hight:800px}


.col_w280_last { padding: 0; margin-left: 0; width: 252px; border: none }

#intro {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #1e1e1e;
}

#intro p { margin-bottom: 30px }

#intro a.getstart { margin-left: 20px }

#intro img { float: right }

#intro_left { width: 460px; float: left } 

#latest_news { margin-top:5px; padding: 5px 20px;  border: 1px  #242423 }
.news_box { padding-bottom: 5px; }
.news_box_last { border: none; padding: 0; margin: 0 background-color:white}
.news_box h3 { font-size: 14px; font-style: italic; margin-bottom: 5px; padding: 5px 0 5px 25px; color: #dfa661; background: url(images/list.png) no-repeat left center }

.gallery { clear: both; margin: 0; padding: 0; list-style: none;background-color:white;right-margin:5px; }
.gallery li a {
	float: left;
	display: block;
	width: 100px;
	height: 140px;
	margin: 0 12px 12px 0
}
.gallery li a img { padding: 2px; border: 1px solid #242423 }


#footer {
	width: 956px;
	padding: 10px 0;
	text-align: center;
	color: #8d8d8d;
}

#footer a {
	font-weight: normal;
	color: #fff;
}

.faculty_profile{
	float:left;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	width:115px;
}

.faculty_brif{
	float:left;
	padding-left:0px;
}

	
.grid_faculty {
	float:left;
	width:670px;
	/*border-top:dotted 1pt #999999;*/
	border-bottom:dotted 1pt #999999;
	padding-top:0px;
	padding-bottom:0px;
	clear:both;
	margin-bottom:10px;
}


ul#saturday{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	position:relative;
	display:block;
	height:36px;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	background:transparent url("images/bgOFF.gif") repeat-x top left;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	border-bottom:4px solid #000;
	border-top:1px solid #C0E2D4;
	}

ul#saturday li{
	display:block;
	float:left;
	list-style:none;
	margin:0;
	pading:0;
	}

ul#saturday li a{
	display:block;
	float:left;
	color:#fff;
	text-decoration:none;
	padding:12px 20px 0 20px;
	height:24px;
	background:transparent url("images/banner1.jpg") no-repeat top right;
	}

ul#saturday li a:hover{
	background:transparent url("images/bgHOVER.gif") no-repeat top right;
	}

ul#saturday li a.current,ul#saturday li a.current:hover{
	color:#fff;
	background:transparent url("images/bgON.gif") no-repeat top right;
	}
 .slide-out-div {
	float:right;
	padding: 0px;
	width: 200px;
	background: #FFFFFF;
	text-align:left;
	z-index:1000000;
}
.slide-out-div11 {

	padding: 0px;
	margin-left:5px;
	width: 200px;
	background: #FFFFFF;
	text-align:left;
	z-index:1000000;
	position:fixed;
}
.form{
margin-left:10px;
padding:2px;
top:2px;
margin-bottom:2px;
}
