
/*
 *  PLUGIN BASICS
 *  ------------------------------------------------
 */
.sliderkit{display:none;position:relative;overflow:hidden;text-align:left;}
.sliderkit a,
.sliderkit a:hover{text-decoration:none;}
.sliderkit a:focus{outline:1px dotted #000;/*optional*/}
.sliderkit img{border:0;}

/*---------------------------------
 *  Navigation
 *---------------------------------*/
.sliderkit .sliderkit-nav{z-index:10;position:absolute;text-align:center;}

/* Nav > Clip */
.sliderkit .sliderkit-nav-clip{position:relative;overflow:hidden;margin:0 auto;}
.sliderkit .sliderkit-nav-clip ul{position:relative;left:0;top:0;list-style:none;margin:0;padding:0;}
.sliderkit .sliderkit-nav-clip ul li{float:left;}
.sliderkit .sliderkit-nav-clip ul li a{display:block;overflow:hidden;}

/*---------------------------------
 *  Buttons
 *---------------------------------*/
.sliderkit .sliderkit-btn{z-index:10;}

/*---------------------------------
 *  Panels
 *---------------------------------*/
.sliderkit .sliderkit-panel{z-index:1;position:absolute;overflow:hidden;}
.sliderkit .sliderkit-panel-active{z-index:5;}
.sliderkit .sliderkit-panel-old{z-index:4;}

/* Panels > Overlay */
.sliderkit .sliderkit-panel .sliderkit-panel-textbox{position:absolute;z-index:1;}
.sliderkit .sliderkit-panel .sliderkit-panel-text{position:absolute;z-index:3;top:0;left:0;}
.sliderkit .sliderkit-panel .sliderkit-panel-overlay{position:absolute;z-index:2;top:0;left:0;}



/*
 *  CAROUSEL
 *  ------------------------------------------------
 */

/*---------------------------------
 *  Carousel > Demo #2
 *---------------------------------*/
.carousel-demo2{width:1098px;height:120px;}

/* Navbar */
.carousel-demo2 .sliderkit-nav{left:0;bottom:0;width:1078px;height:120px;padding:10px;background:#fff;}
.carousel-demo2 .sliderkit-nav-clip ul li{float:left;margin:20 5px 0 0;}
.carousel-demo2 .sliderkit-nav-clip ul li a{display:block;width:205px;height:110px;overflow:hidden;margin:0;opacity:1;}
.carousel-demo2 .sliderkit-nav-clip ul li a:hover{opacity:1;}

/* Navbar buttons */
.carousel-demo2 .sliderkit-nav .sliderkit-nav-btn{position:absolute;top:0;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-btn span{display:none;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-btn a{display:block;width:15px;height:160px;background:transparent url("../images/arrows-h.png") no-repeat center 0;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-prev{left:20px;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-next{right:20px;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-prev a{background-position:-89px center;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-next a{background-position:-108px center;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-prev a:hover,
.carousel-demo2 .sliderkit-nav .sliderkit-nav-prev a:focus{background-position:-127px center;}
.carousel-demo2 .sliderkit-nav .sliderkit-nav-next a:hover,
.carousel-demo2 .sliderkit-nav .sliderkit-nav-next a:focus{background-position:-146px center;}

/* Buttons > Disable */
.carousel-demo2 .sliderkit-nav .sliderkit-btn-disable{opacity:0.3/*can be set to any value until 1*/;cursor:default;}




/*
 *  SLIDESHOW
 *  ------------------------------------------------
 */
 


/* Navbar */
.slideshow-standard .sliderkit-nav{left:0;bottom:0;width:295px;padding:10px 0 10px 205px;background:#000;}
.slideshow-standard .sliderkit-nav-clip ul li{float:left;margin:0;}
.slideshow-standard .sliderkit-nav-clip ul li a{display:block;width:75px;height:50px;overflow:hidden;margin:0;padding:3px;}
.slideshow-standard .sliderkit-nav-clip ul li.sliderkit-selected a{padding:0;border:3px solid #fff;}

/* Buttons */
.slideshow-standard .sliderkit-btn a{position:relative;float:left;display:block;width:20px;height:23px;margin:0 5px;background:transparent url("../images/slideshow-btns.gif") no-repeat 0 0;}
.slideshow-standard .sliderkit-btn span{display:none;}



/* Panel */
.slideshow-standard .sliderkit-panel{top:0;left:0;width:900px;height:335px;}

/*---------------------------------
 *  Slideshow > + Carousel
 *---------------------------------*/
.slideshow-carousel{width:900px;height:335px;padding:0 0 40px;}

/* Navbar */
.slideshow-carousel .sliderkit-nav{left:0;bottom:40px;width:980px;padding:10px;}
.slideshow-carousel .sliderkit-nav-clip ul li{float:left;margin:0;}
.slideshow-carousel .sliderkit-nav-clip ul li a{display:block;width:75px;height:50px;overflow:hidden;margin:0;padding:3px;}
.slideshow-carousel .sliderkit-nav-clip ul li.sliderkit-selected a{padding:0;border:3px solid #fff;}

/* Controls */
.slideshow-carousel .sliderkit-controls{position:absolute;bottom:0;left:0;width:295px;padding:10px 0 10px 205px;background:#000;}

/* Go buttons */
.slideshow-carousel .sliderkit-go-btn a,
.slideshow-carousel .sliderkit-play-btn a{position:relative;float:left;display:block;width:20px;height:23px;margin:0 5px;background:transparent url("../images/slideshow-btns.gif") no-repeat 0 0;}
.slideshow-carousel .sliderkit-btn span,
.slideshow-carousel .sliderkit-play-btn span{display:none;}
.slideshow-carousel .sliderkit-play-btn a{background-position:-50px 0;}
.slideshow-carousel .sliderkit-play-btn a:hover,
.slideshow-carousel .sliderkit-play-btn a:focus{background-position:-50px -23px;}
.slideshow-carousel .sliderkit-pause-btn a{background-position:-75px 0;}
.slideshow-carousel .sliderkit-pause-btn a:hover,
.slideshow-carousel .sliderkit-pause-btn a:focus{background-position:-75px -23px;}

.slideshow-carousel .sliderkit-go-prev a{background-position:-25px 0;}
.slideshow-carousel .sliderkit-go-next a{background-position:0 0;}
.slideshow-carousel .sliderkit-go-prev a:hover,
.slideshow-carousel .sliderkit-go-prev a:focus{background-position:-25px -23px;}
.slideshow-carousel .sliderkit-go-next a:hover,
.slideshow-carousel .sliderkit-go-next a:focus{background-position:0 -23px;}

/* Panel */
.slideshow-carousel .sliderkit-panel{top:0;left:0;width:500px;height:335px;}




/*
 *  EXTERNAL CONTROLS
 *  ------------------------------------------------
 */
#content .sliderkit-pagination ul{display:inline;margin:0 0 10px;list-style:none;}
#content .sliderkit-pagination ul li{display:inline;}
#content .sliderkit-pagination ul li a{padding:5px;}
#content .sliderkit-pagination ul li a:hover{color:#fff;background:#006a91;}
