body {
	margin-top: 0px;
}

.menu{
	color:#FFFFFF;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: justify;
	
}
.submenu{
	color:#ec4e02;
	font-size:14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 7px;
}

.submenu01{
	color:#ec4e02;
	font-size:14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 7px;
}
.submenu1{
	color:#FD5402;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding-left: 0px;
	
}

.submenu1 a{
	color:#ec4e02;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	
}
.submenu1 a:hover{
	color:#ec4e02;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	
}
.submenu2{
	color:#FD5402;
	font-size:11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	
}
.submenu2 a{
	color:#FD5402;
	font-size:11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	
}
.submenu2 a;hover{
	color:#FD5402;
	font-size:11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	
}
.submenu3{
background-image:url(images/menu.jpg);
	color:#FFFFFF;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	
	line-height: 20px;
}
.submenu3 a{
background-image:url(images/menu.jpg);
	color:#FFFFFF;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	
	line-height: 20px;
}
.submenu3 a:hover{
background-image:url(images/menu.jpg);
	color:#FFFFFF;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	
	line-height: 20px;
}
.bodytext {
	color:#000000;
	font-size:11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: left;
}
.footer{font-size:12px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
color:#FA5505;
l}

.footer a{
font-size:12px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
color:#FA5505;
}

.footer a:hover{font-size:12px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
color:#FA5505;}

.address{background-color:#FFFF00;
background-image:url(images/button.png);}

.links{
	color:#000000;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.links a{
	color:#000000;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}
.links a:hover{
	color:#FA5505;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.readmore{
	color:#ec4e02;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 7px;
}
.readmore a{
	color:#ec4e02;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 7px;
	text-decoration: blink;
}
.readmore a:hover{
	color:#ec4e02;
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 7px;
}
.tableborder1{

	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-bottom-width: 0.3px;}
	
.border{border:0.5px solid #FB5604;
	border-radius:6px;	
 }
 
 .borderCCC{border:0.5px solid #CCCCCC;
		
 }
.headerborder{border:2px solid #ffffff;}
.bannerborder{
	border-bottom-style: solid;
	border-bottom-color: #FB5604;
	border-bottom-width: 2px;
}
.bottomborder{
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	border-bottom-width: 1px;
}
.topborder{
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999999;
}
.bottomlinks {font-size:10px; font-family: Verdana, Arial, Helvetica, sans-serif; text-align: justify; color: #FFFFFF;}
.bottomlinks a {
	font-size:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
	color: #FFFFFF;
	text-decoration: none;
}

.bottomlinks a;hover {font-size:10px; font-family: Verdana, Arial, Helvetica, sans-serif; text-align: justify; color: #FFFFFF;}


.style2 {font-size:11px; font-family: Verdana, Arial, Helvetica, sans-serif; text-align: justify; color: #000000;}

input{
	border-radius:4px;
	border:1px solid #CCCCCC;	
 }
 textarea{
	border-radius:4px;
	border:1px solid #CCCCCC;	
 }
 

------------------------------------------------------------------------------------------------

.arrowlistmenu{
width: 213px; /*width of menu*/
}

.arrowlistmenu .headerbar{
font: bold 12px Arial;
text-align:left;
color: white;
background: #FD5402 url(media/titlebar.png) repeat-x center left;
margin-bottom: 8px; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 4px 0 4px 10px; /*header text is indented 10px*/
}

.arrowlistmenu ul{
list-style-type: none;
text-align:left;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a{
color: #FD5402;
text-align:left;
background: url(images/arrowbullet.png) no-repeat center left; /*custom bullet list image*/
display: block;
padding: 2px 0;
padding-left: 19px; /*link text is indented 19px*/
text-decoration: none;
font-weight: bold;
border-bottom: 1px solid #dadada;
font-size: 90%;
}

.arrowlistmenu ul li a:visited{
color: #FD5402;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #FD5402;
background-color: #F3F3F3;
text-align:left;
}

--------------------------------------------------------------------------------
